.purple-bg{
  background-color: #121943;
}
.custom-btn{
  padding: 24px 63px !important;
  font-weight: bold;
  background-color: #3C5FDD !important;
  color: #fff !important;
  border-radius: 100px !important;
}

.custom-btn:hover {
  background-color: #3C5FDD;
}
.text-color{
color: #3C5FDD;
}
.text-decoration-underline{
text-decoration: underline;
}
.heading{
  color: #45464F;
  font-weight: 400 !important;
  font-size: 25px !important;
}

.custom-outline-btn{
  padding: 24px 63px !important;
  font-weight: bold;
  background-color: #fff !important;
  border-radius: 100px !important;
  border:1px solid #3C5FDD;
  color:#3C5FDD !important;
}

.border-bottom{
  border-bottom:1px solid #45464f40;
}

.main-bg{
  min-height:100vh;
  background-image:url('../src/assets/images/image (7).png');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.category-box{
border: 1px solid blue;
width: auto;
color: blue;
border-radius: 5px;
padding: 2px 20px;
}
.text-blue{
  color:#0037B9;
}