:root {
  --input-color: #767680;
  --theme-color: #144bb9;
  --menu-background: #FBF8FF;
}

.purple-bg {
  background-color: #121943;
}

.custom-btn {
  padding: 24px 63px !important;
  color: #fff !important;
  background-color: #3c5fdd !important;
  border-radius: 100px !important;
}

.outline-custom-btn {
  padding: 24px 63px !important;
  color: #3c5fdd !important;
  background-color: #fff !important;
  border: 1px solid #3c5fdd !important;
  border-radius: 100px !important;
}

.text-color {
  color: #3c5fdd;
}

.text-decoration-underline {
  text-decoration: underline;
}

.heading {
  color: #45464f;
  font-weight: 400 !important;
  font-size: 22px !important;
}

.custom-outline-btn {
  padding: 24px 63px !important;
  color: #3c5fdd !important;
  font-weight: bold;
  background-color: #fff !important;
  border: 1px solid #3c5fdd;
  border-radius: 100px !important;
}

.border-bottom {
  border-bottom: 1px solid #45464f40;
}

.main-bg {
  min-height: 100vh;
  background-image: url("../assets/images/backgroung.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.category-box {
  padding: 2px 20px;
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
}

.text-blue {
  color: #0037b9;
}

.badge-box {
  float: right;
  width: auto;
  margin: -21px;
  padding: 3px 28px;
  color: #fff;
  text-align: center;
  background: #0b7b69;
  border-radius: 0 10px 0 5px;
}

.card-scroll {
  overflow-y: scroll;
}

.login-form {
  z-index: 999;
  margin-top: -6% !important;
  background: #fff;
  border-radius: 27px 24px 0 0;
}

.invisible-scroll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

.invisible-scroll::-webkit-scrollbar {
  width: 0;
  background-color: #f5f5f5;
}

.invisible-scroll::-webkit-scrollbar-thumb {
  background-color: #d9d7d7;
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

button:disabled {
  color: #1A1B21 !important;
  background-color: #c6c2d2 !important;
  cursor: not-allowed;
}

.chakra-accordion-item button {
  color: var(--theme-color);
  background: none;
  border: none !important;
}
